



main {
	padding-left: 60px;
	padding-right: 60px; 


}

.box {

	height: 300px;
	width: 600px;
	border: dotted green 10px;
	margin: auto;
}

.cat {

	position: relative;
}



.dog {
position: relative;
}


main {
	/* This image will be displayed fullscreen */
	background-image: url("../images/outerspace_landscape.jpeg");

	}
